(
    inner: (
        inner: (
            image: [
                113,
                111,
                105,
                102,
                0,
                0,
                0,
                32,
                0,
                0,
                0,
                32,
                4,
                1,
                0,
                223,
                255,
                0,
                0,
                0,
                255,
                53,
                0,
                255,
                255,
                255,
                255,
                255,
                38,
                0,
                53,
                53,
                0,
                38,
                38,
                0,
                53,
                53,
                0,
                208,
                53,
                53,
                0,
                38,
                38,
                0,
                53,
                53,
                0,
                38,
                38,
                0,
                53,
                53,
                0,
                240,
                38,
                38,
                0,
                53,
                53,
                0,
                38,
                38,
                0,
                53,
                53,
                0,
                38,
                38,
                0,
                208,
                38,
                38,
                0,
                53,
                53,
                0,
                38,
                38,
                0,
                53,
                53,
                0,
                38,
                38,
                0,
                240,
                53,
                53,
                0,
                38,
                38,
                0,
                53,
                53,
                0,
                38,
                38,
                0,
                53,
                53,
                0,
                208,
                53,
                53,
                0,
                38,
                38,
                0,
                53,
                53,
                0,
                38,
                38,
                0,
                53,
                53,
                0,
                240,
                38,
                38,
                0,
                53,
                53,
                0,
                38,
                38,
                0,
                53,
                53,
                0,
                38,
                38,
                0,
                208,
                38,
                38,
                0,
                53,
                53,
                0,
                38,
                38,
                0,
                53,
                53,
                0,
                38,
                38,
                0,
                240,
                53,
                53,
                0,
                38,
                38,
                0,
                53,
                53,
                0,
                38,
                38,
                0,
                53,
                53,
                0,
                208,
                53,
                53,
                0,
                38,
                38,
                0,
                53,
                53,
                0,
                38,
                38,
                0,
                53,
                53,
                0,
                253,
                241,
                38,
                0,
                253,
                253,
                253,
                253,
                253,
                253,
                253,
                203,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                1,
            ],
            label: None,
        ),
    ),
    map: {
        1: (
            top_left: (0.0, 0.5625),
            bottom_right: (0.03125, 0.59375),
        ),
        0: (
            top_left: (0.0, 0.0),
            bottom_right: (0.5, 0.5),
        ),
    },
)
